name: PR

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: ytanikin/pr-conventional-commits@1.4.0
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert"]'
